<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/style/style.css}"/>
  <title>Title</title>
</head>
<body>
<div id="container">
  <div id="naglowek">
    <ul sec:authorize="isAuthenticated()" class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="#" sec:authorize="hasAuthority('USER')" th:href="@{/myAccount}">Moje konto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/logout}">Wyloguj sie</a>
      </li>
    </ul>
    <ul sec:authorize="isAnonymous()" class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="#" th:href="@{/register}">Zarejestruj się</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/login}">Zaloguj się</a>
      </li>
    </ul>


    <form id="wyszukiwarka" class="form-inline my-2 my-lg-0" action="#" th:action="@{/search}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:name="name">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <a id="logo" href="#" th:href="@{/}">Encyklopedia Gier</a>
  </div>
  <div id="navbar" >
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/myAccount/zmienHaslo}">Zmiana hasla</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/ulubione}">Ulubione</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/ratings}">Oceny</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/myAccount/deleteAccount}">Usun konto</a>
      </li>
    </ul>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <form action="#" th:action="@{/myAccount/zmienHaslo}" method="post">
      <p th:if="${invalidCredentials}">Podano zle dane</p>
      <div class="form-group row">
        <label for="oldPassword" class="col-sm-2 col-form-label">Stare haslo</label>
        <div class="col-sm-10">
          <input type="password"  class="form-control" id="oldPassword" th:name="oldPassword">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Nowe haslo</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPassword" th:name="password" >
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPasswordCheck" class="col-sm-2 col-form-label">Potwierdz haslo</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="inputPasswordCheck" th:name="checkPassword">
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block mb-4">Zmien haslo</button>
    </form>

  </div>
</div>
</div>

</body>
</html>