<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/style/style.css}"/>
  <title>Title</title>
</head>
<body>
<div id="container">
  <div id="naglowek">
    <ul sec:authorize="isAuthenticated()" class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="#" sec:authorize="hasAuthority('USER')" th:href="@{/myAccount}">Moje konto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/logout}">Wyloguj sie</a>
      </li>
    </ul>
    <ul sec:authorize="isAnonymous()" class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="#" th:href="@{/register}">Zarejestruj się</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/login}">Zaloguj się</a>
      </li>
    </ul>


    <form id="wyszukiwarka" class="form-inline my-2 my-lg-0" action="#" th:action="@{/search}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" th:name="name">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <a id="logo" href="#" th:href="@{/}">Encyklopedia Gier</a>
  </div>
  <div id="navbar" >
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/myAccount/zmienHaslo}">Zmiana hasla</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/ulubione}">Ulubione</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/ratings}">Oceny</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" th:href="@{/myAccount/deleteAccount}">Usun konto</a>
      </li>
    </ul>
  </div>

</div>
<div th:if="${ratings}" class="jumbotron jumbotron-fluid">
  <div th:remove="all-but-first">
    <div class="media col-9 offset-2"   th:each="game: ${ratings}">
      <img th:src="@{${game.getGame().getImgSrc()}}"/>
      <div class="media-body">
        <a href="#" th:href="@{|/ratings/${game.getGame().id}|}">
          <h3 th:text="|${game.getGame().name} ${game.getGame().platform}|"></h3>
        </a>
        <h5 th:text="|${game.getGame().genre}(${game.getGame().dataWydania})|"></h5>
        <div class="rating">
          <p th:text="${game.getRate()}"></p>
          <p>Twoja ocena</p>
        </div>

      </div>
    </div>
  </div>
</div>
</div>

</body>
</html>